.l-benefits {
  // padding: 60px 0;
  margin-top: -250px;

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;

    @media (min-width: 769px) {
      // flex-direction: row;
    }
  }
}
