.l-benefits {
  // padding: 60px 0;
  margin-top: -220px;

  @media (max-width: 498px) {
    margin-top: -150px;
  }

  @media (max-width: 418px) {
    margin-top: -80px;
  }

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  &__cards {
    display: flex;
  }

  & .c-card {
    z-index: 1;
  }

  &__wrapper {
    display: flex;
  }

  &__text-content {
    flex: 1;
  }

  &__text {
    font-size: 20px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 25px;
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    img {
      width: 100%;
      max-width: 300px;
      opacity: 0.3;
    }
  }
}
