.l-problems {
  // padding: 60px 0;
  margin-top: -230px;
  padding-bottom: 40px;

  @media (max-width: 530px) {
    margin-top: -150px;
  }

  @media (max-width: 418px) {
    margin-top: -100px;
  }

  @media (max-width: 368px) {
    margin-top: -70px;
  }

  @media (min-width: 769px) {
    margin-top: -150px;
  }

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
      flex-direction: row;
    }
  }

  & .c-image {
    z-index: 1;
  }

  &__title {
    margin: 0 auto;

    .c-title {
      width: 100%;
      max-width: 900px;
      margin-bottom: 50px;
      font-size: 26px;
      line-height: 30px;

      @media (min-width: 769px) {
        font-size: 36px;
        line-height: 45px;
      }
    }
  }

  &__text-content {
    flex: 1;
  }

  &__text {
    font-size: 20px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 25px;
    color: var(--gray-700);
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 400px;
      opacity: 0.5;
    }
  }
}
