.l-problems {
  // padding: 60px 0;
  margin-top: -220px;
  padding-bottom: 40px;

  @media (max-width: 498px) {
    margin-top: -150px;
  }

  @media (max-width: 418px) {
    margin-top: -80px;
  }

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;

    @media (min-width: 769px) {
      flex-direction: row;
    }
  }

  & .c-image {
    z-index: 1;
  }

  &__title {
    margin: 0 auto;

    .c-title {
      width: 100%;
      max-width: 900px;
      margin-bottom: 50px;
    }
  }

  &__text-content {
    flex: 1;
  }

  &__text {
    font-size: 20px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 25px;
    color: var(--gray-700);
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 400px;
      opacity: 0.5;
    }
  }
}

.elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  background-color: #f3f3f3;
  height: 200px;
}

.elementor-shape svg {
  width: 100%;
}

.elementor-shape-fill {
  fill: #fff;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
