.l-section {
  padding: 50px 0;

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
      // flex-direction: row;
    }
  }

  &__header {
    margin: 0 auto;

    .c-title {
      width: 100%;
      max-width: 900px;
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 769px) {
      flex-direction: row;
    }

    .c-card {
      margin-bottom: 15px;
    }
  }
}
