.l-social-proof {
  padding: 50px 0;

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
      flex-direction: column;
    }
  }

  &__header {
    display: flex;
    justify-content: center;

    & .c-title {
      width: 900px;
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex-wrap: wrap;

    @media (min-width: 890px) {
      flex-direction: row;
    }
  }

  & .c-testimonial {
    margin-bottom: 15px;
    flex: 1;

    @media (min-width: 768px) {
      // margin-bottom: 0;
      flex: calc(50% - 15px);
    }
  }

  & .c-testimonial + .c-testimonial {
    // margin-bottom: 0;
  }

  & .c-title {
    font-family: 'Montserrat', sans-serif;
  }

  & .u-ml-15 {
    margin-left: 0;

    @media (min-width: 890px) {
      margin-left: 15px;
    }
  }
}
