.l-section {
  padding: 50px 0;

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
      // flex-direction: row;
    }
  }
}
