.c-card {
  padding: 0 0 60px;
  flex: 1;

  & + .c-card {
    margin-left: 15px;
  }

  &__image {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
