.c-cta {
  padding: 15px 30px;
  background-color: #075e54;
  border-radius: 10px;
  color: var(--gray-100);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
