.c-headline {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__logo {
    margin: 0 auto 30px;
    width: 210px;

    @media (min-width: 769px) {
      margin: 0 auto 50px;
      width: 300px;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    color: var(--black);
    font-size: 26px;
    line-height: 30px;

    @media (min-width: 769px) {
      font-size: 40px;
      line-height: 47px;
    }
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 1.375rem;
    line-height: 28px;
    color: var(--gray-700);
  }
}
