.c-headline {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__logo {
    margin: 0 auto 50px;
  }

  &__title {
    margin-bottom: 24px;
    color: var(--black);
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 28px;
    color: var(--black);
  }
}
