.c-testimonial {
  background-color: var(--gray);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray-300);
  display: flex;

  & + .c-testimonial {
    @media (min-width: 769px) {
      // margin-left: 15px;
    }
  }

  &__avatar {
    width: 118px;
    height: 154px;
  }

  &__info {
    margin-left: 15px;
    padding: 5px 0;
  }

  &__title {
    @media (min-width: 769px) {
      margin-bottom: 5px;
    }
  }

  &__review {
    margin-bottom: 6px;

    @media (min-width: 769px) {
      margin-bottom: 12px;
    }
  }

  &__text {
    font-size: 12px;

    @media (min-width: 769px) {
      font-size: 14px;
    }
  }
}
