* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray: #f5efef;
  --gray-100: #e2e2dd;
  --gray-200: #e5e5e5;
  --gray-300: #c4c4c4;
  --gray-700: #3c3b3b;
  --black: #030303;
  --nude: rgb(235, 171, 148);
  --brown: rgb(125, 77, 56);
  --yellow-200: #f0eb9d;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.br-desk {
  display: none;

  @media (min-width: 769px) {
    display: block;
  }
}
